Source: wsm
Section: misc
Priority: optional
Maintainer: YaoBing Xiao <xiaoyaobing1994@gmail.com>
Build-Depends: debhelper-compat (= 12), 
               meson,
               pkg-config,
               ninja-build,
               gcc,
               libwlroots-dev,
               libwayland-dev,
               doxygen,
               graphviz,
               libxslt1-dev,
               xmlto,
               wayland-protocols,
               libsystemd-dev,
               libdrm-dev,
               libxcb1-dev,
               libxcb-icccm4-dev,
               libxml2-dev,
               libcairo2-dev,
               libpango1.0-dev,
               libxpm-dev,
               libjpeg-dev,
               librsvg2-dev
Standards-Version: 4.5.0
Homepage: https://github.com/zzxyb/wsm
#Vcs-Git: https://github.com/zzxyb/wsm
#Vcs-Browser: https://github.com/zzxyb/wsm

Package: wsm
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: xwayland
Description: efficient Wayland compositor
 This package provides a efficient and modern Wayland compositor, implementing 
 input and output management based on wlroots.

