name: Build on Debian

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: Release

jobs:
  meson-build:
    runs-on: ubuntu-latest
    container:
      image: debian:latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Debian software sources
      run: |
        echo "deb http://deb.debian.org/debian/ bullseye main" | tee /etc/apt/sources.list
        echo "deb http://deb.debian.org/debian/ bullseye-updates main" | tee -a /etc/apt/sources.list
        echo "deb http://security.debian.org/ bullseye-security main" | tee -a /etc/apt/sources.list
        echo "deb http://deb.debian.org/debian unstable main" | tee -a /etc/apt/sources.list

    - name: Install Build Requirements
      run: |
        apt-get update -q
        apt-get install -y meson libwlroots-dev libwayland-dev cppcheck doxygen graphviz libxslt1-dev xmlto wayland-protocols libsystemd-dev libdrm-dev libxcb1-dev libxcb-icccm4-dev libxml2-dev libcairo2-dev libpango1.0-dev libxpm-dev libjpeg-dev librsvg2-dev

    - name: Build with Meson
      run: |
        meson builddir -Dxwayland=enabled
        ninja -C builddir

    - name: Run cppcheck
      run: cppcheck --project=builddir/compile_commands.json
